*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	display: flex;
	height: 500px;
	width: 800px;
	margin: auto;
	/* margin-top: 10px; */
	border: 1px solid black;
	margin-top: 30px;
	box-shadow: 20px 20px 50px rgb(37, 34, 41);
}
.form{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	background-color: whitesmoke;
}
.form h2{
	font-size: 3rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin:40px;
}

.box{
	padding: 12px;
	margin: 8px;
	border: 1px solid black;
	outline: none;
	border-radius: 20px;
	font-size: 18px;
	box-sizing: border-box;
}
.side{
	display: flex;
	width: 70%;
	background: rgb(167, 84, 245);
}
.side img{
	width: 100%;
}
#sub{
  margin:5px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(28, 167, 231);
}

.link {
	text-align: center;
	font-family: fantasy;
}